---
import Layout from "../layouts/Layout.astro";
import { Readability } from "@mozilla/readability";
import { JSDOM } from "jsdom";
import Navbar from "../components/navbar.astro";

const url = Astro.url.searchParams.get("link");

if (!url) {
  return Astro.redirect("/");
}

const html = await fetch(url).then((r) => r.text());
const doc = new JSDOM(html, { url });
const reader = new Readability(doc.window.document);
const article = reader.parse();
---

<Layout>
  <Navbar />

  <main class="flex flex-col mx-auto my-10 prose lg:prose-xl prose-invert">
    <h1>{article?.title}</h1>
    <article set:html={article?.content} />
  </main>
</Layout>
