---
import { House, Github, Settings, Rss, Eye } from "lucide-astro";
import { Image } from "astro:assets";
import hnLogo from "../assets/hn.svg";

const { list = "" } = Astro.params;
---

<nav class="flex gap-4 justify-end pb-10">
  <a href="/" class="p-2"><House class="size-5" /></a>
  <a href="/github" class="p-2"><Github class="size-5" /></a>
  <a href="/hn" class="p-2">
    <Image
      src={hnLogo}
      alt="hn logo"
      width="20"
      height="20"
      class="!m-0 size-5 bg-white"
    />
  </a>

  {
    list ? (
      <a href={`/custom/${list}`} class="p-2">
        <Settings class="size-5" />
      </a>
    ) : (
      <a href="/custom" class="p-2">
        <Rss class="size-5" />
      </a>
    )
  }
  <a href="/preview" class="p-2"><Eye class="size-5" /></a>
</nav>
