---
import "../main.css";

if (import.meta.env.PROD) {
  Astro.response.headers.set("Cache-Control", "public, max-age=3600");
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>NewsHub</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col mx-auto py-10 px-4 md:px-0 prose lg:prose-xl prose-invert"
  >
    <slot />
  </body>
</html>
